*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
}
.card{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30px;
    
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;

}

form{
    display: flex;
    flex-direction: column;
}
